body {
  scale: 70%;

  background-color: rgb(46, 142, 233);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.esconder {
  display: none;
}

.custom-alert-size {
  scale: 50%;
}
input {
  width: 90%;
}
label {
  font-family: "Share Tech Mono", monospace;
  font-size: 14px;
}
.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}



.form-button {
  color: aliceblue;
  background-color: black;
  margin-top: 0.5rem;
  font-family: "Share Tech Mono", monospace;
  width: 90%;
}
